__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env
.env.*
*.log
db.sqlite3
media/
staticfiles/
postgres_data/
.vscode/
.idea/
.DS_Store
Thumbs.db
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
build/
dist/
*.egg-info/
.cache/
*.tmp
*.bak